node_modules
dist
build
.cache
.pnpm-store
.eslintcache
.idea
.vscode
.DS_Store

# Env files
.env
.env.*.local
token_reliz.txt

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# SQLite
*.sqlite
*.sqlite3

# Electron
*.log

# Release artifacts (не коммитим артефакты сборки)
electron-app/release
electron-app/dist

# Backend uploads (runtime storage)
backend-api/uploads


